input {
    keyboard {
        xkb {
            layout "us,ar"
            options "grp:alt_shift_toggle"
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
    }
    
    focus-follows-mouse
    workspace-auto-back-and-forth
}
